li {
  list-style-type: none;
}
body {
  width: 100%;
  height: 100%;
}
.appContainer {
  background: url(../img/bg.jpg) repeat;
  min-height: 1200px;
  .mainContainer {
    padding-right: 2%;
    background-color: white;
    width: 50%;
    min-height: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
}

.ElemContainer {
  min-height: 250px;
  min-width: 80%;
  padding-left: 3%;
  padding-bottom: 3%;
  &:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-color: #E8E9EE;
  }
}

.propertyPicContainer {
  .propertyPic {
    width: 250px;
    height: 200px;
  }
}

.propPriceContainer {
  margin: 5px 5px 10px 0;
  padding: 5px;
  background-color: #000000;
  border-radius: 3px;
  display: inline-block;
}

.propInfoContainer {
  @extend .propPriceContainer;
  background-color: #fff;
  outline-offset: -1px;
  outline: 1px solid #000000;
}



