.unSelect {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.propertyTitle {
  margin-left: 25px;
  word-wrap: inherit;
  overflow-wrap: inherit;
}

.propPrice {
  @extend .unSelect;
  color: white;
  font-size: 19px;
}

.propInfo {
  @extend .propPrice;
  color: #000;
  word-wrap: break-word;
}

.clickLabel {
  @extend .unSelect;
  display: block;
  margin-top: 50px;
}
