.propertyTitle {
  margin-left: 25px;
  word-wrap: inherit;
  overflow-wrap: inherit;
}

.propPrice {
  color: white;
  font-size: 19px;
}

.propInfo {
  @extend .propPrice;
  color: #000;
  word-wrap: break-word;
}

.clickLabel {
  display: block;
  margin-top: 50px;
}
